#container {
    width: 100%;
}

.row {
    width: calc(100% - 2px);
    height: 80px;
    border: 1px solid black;
    background: black;
    display: flex;
}

.row > div {
    height: 100%;
}

.label {
    width: 100px;
    background: chocolate;
    font-size: 0.9rem;
    /* font-weight: bold; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: text;
}

.list {
    width: calc(100% - 180px);
    background: #333;
}

.settings {
    width: 80px;
    background: black;
    display: flex;
}

.gear, .buttons {
    width: 50%;
    height: 100%;
}

.up, .down {
    width: 100%;
    height: 50%;
}

.gear {
    background-image: url(../logo/gear.png);
}

.up {
    background-image: url(../logo/up.png);
}

.down {
    background-image: url(../logo/down.png);
}

.gear, .up, .down {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: opacity .5s ease-out;
}

.gear:hover, .up:hover, .down:hover {
    opacity: 0.5;
}
