:root {
    --image-width: 120px;
    --image-height: 80px;
    --image-fs: 0.75rem;

    --carousel-bg: #eee;
}

#carousel {
    background: var(--carousel-bg);
    width: 960px;
    min-height: var(--image-height);
    margin-top: 25px;
    font-size: 0;
}

.image {
    width: var(--image-width);
    height: var(--image-height);
    background: transparent;
    /* background: #333; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.image:hover {
    cursor: grab;
}

.image:active {
    cursor: grabbing;
}

.image[placeholder] {
    opacity: 0.5;
}

body.control .image {
    cursor: help !important;
}

body.control [data-title]:hover:after {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
}

[data-title]:after {
    content: attr(data-title);
    background: #f8f8f8;
    color: #000b;
    font-weight: 100;
    font-size: var(--image-fs);
    position: absolute;
    padding: 4px 6px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    z-index: 10;
    border: 1px solid black;
}

[data-title] {
    position: relative;
}